In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Mall_Customers.csv')

In [3]:
dataset

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [4]:
X=dataset.iloc[:,[3,4]].values

In [5]:
from sklearn.cluster import AffinityPropagation
from sklearn import metrics
from sklearn.datasets import make_blobs
X, labels_true = make_blobs(
    n_samples=300, centers=centers, cluster_std=0.5, random_state=0
)

NameError: name 'centers' is not defined

In [ ]:
from sklearn.cluster import AffinityPropagation

In [ ]:
af = AffinityPropagation(damping=0.5, max_iter=200, convergence_iter=15, 
                         copy=True, preference=None, affinity='euclidean', verbose=False)
label=af.fit_predict(X)

In [ ]:

supervised=pd.DataFrame(dataset)
supervised

In [ ]:
supervised['Cluster_group']=label
supervised

In [ ]:
supervised.to_csv("cluster.csv",index=False)
centroids=af.cluster_centers_
centroids

In [ ]:
supervised.columns[3]

In [ ]:
supervised.columns[4]

In [ ]:
import seaborn as sns
facet = sns.lmplot(data=supervised, x=supervised.columns[3], y=supervised.columns[4], hue=supervised.columns[5], 
                   fit_reg=False, legend=True, legend_out=True)